= form_for(@invoice) do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2
        = pluralize(@invoice.errors.count, "error")
        prohibited this invoice from being saved:
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :invoice_type
    %br/
    = f.select :invoice_type, Invoice.types
  .field
    = f.label :branch_id
    %br/
    = f.collection_select :branch_id, @branches, :id, :name
  .field
    = f.label :client_id
    %br/
    = f.collection_select :client_id, @clients, :id, :name
  .actions
    = f.submit
