%h1 Listing invoices
%table
  %tr
    %th Number
    %th Type
    %th Branch
    %th Client
    %th
    %th
    %th
  - @invoices.each do |invoice|
    %tr
      %td= invoice.number
      %td= invoice.invoice_type
      %td= invoice.branch.name
      %td= invoice.client.name
      %td= link_to 'Show', invoice
      %td= link_to 'Edit', edit_invoice_path(invoice)
      %td= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Invoice', new_invoice_path
